* { 
font-family:  'Poppins', sans-serif;
 
}

.button-header {
    
    margin-top: 90px;
    margin-left: 42px;
    margin-right: 40px;
    font-weight: 400;
    line-height: 21px;
    color: #17233D;
    
    
}

.button1 {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    box-sizing: border-box;
    border: none;
    background: #6FBF44;
    border-radius: 6px;
    cursor: pointer;
    Width: 100px;
    Height: 30px;

}

.image {

    width: 595.18px;
    height: 500px;
    margin-left: 121px;
    margin-top: 46px;
    display: inline-block
}

section {
    display: inline-block
}

h1{

    width: 582px;
    height: 164px;
    font-size: 62px;
    color: #161A49;
    margin-top: 112px;
}

p{
    width: 493px;
    height: 99px;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #4B505A;
}

.button-section{
    font-size: 18px;
    color: #6FBF44;
    border: none;
    background: none;
    cursor: pointer;

}